* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

main {
    flex: 1;
    position: relative;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 10px solid black;
}

header > * {
    width: 50%;
}

#droid-net {
    display: flex;
    justify-content: flex-start;
}

#droid-net a {
    width: 20%;
}

#droid-net strong {
    align-self: center;
    font-size: 4vw;
}

#droid-net img {
    width: 80%;
    padding: 10%;
}

#logged-in {
    display: flex;
    justify-content: flex-end;
}

#logged-in > * {
    align-self: center;
}

#logged-in a {
    width: 30%;
    cursor: default;
}

#logged-in img {
    display: block;
    width: 50%;
    aspect-ratio: 1 / 1;
    border: 5px solid black;
    border-radius: 10px;
    margin-inline: auto;
}

#logged-in img:hover {
    cursor: pointer;
}

#logout-form {
    margin-right: 5%;
    margin-left: 5%;
}

#logout-form button {
    background-color: #FF69B4;
    padding: 5%;
    font-size: 1.5em;
    border-radius: 5px;
    border: 2px solid black;
    white-space: nowrap;
}

#logout-form button:hover {
    cursor: pointer;
}

#logout-form button:active {
    background-color: #cc5490;
}

#logged-in-as {
    font-size: 1.5em;
}


header img {
    max-width: 100%;
}

/* Footer */

footer {
    background-color: greenyellow;
    font-size: 1.5em;
    text-align: right;
    padding-block: 1%;
    padding-right: 1%;
    white-space: nowrap;
    border-top: 5px solid black;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: #33383B;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf9a;
}

/* Navbar */

.nav {
    margin-top: 25px;
    margin-left: 25px;
}

nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 25px;
    left: 25px;
    padding-right: 20px;
    border-right: 5px solid black;
}

nav a {
    margin-block: 5%;
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin-bottom: 1%;
    padding: 5%;
    text-align: left;
    width: 100%;
    border-radius: 20px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: greenyellow;
    transform: scale(1.05);
}

nav div {
    color: white;
    background-color: red;
    text-align: center;
    width: 1.4em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    outline: 2px solid black;
    transform: scale(0.9);
}

#friends {
    display: flex;
    justify-content: space-between;
    gap: 0.3em;

}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1em;
    }

    #logged-in {
        justify-content: flex-start;
        margin-bottom: 2%;
        flex-direction: column;
        gap: 1em;
    }

    #droid-net {
        justify-content: flex-start;
    }

    #logged-in img {
        border-width: 2px;
    }

    header > * {
        width: 100%;
    }

    footer {
        font-size: 1em;
    }

    main {
        flex-direction: column;
    }

    nav a {
        padding-right: 0;
    }

    nav {
        border: 0;
    }

    #friends {
        justify-content: flex-start;
    }

}

