* {
    padding: 0;
    margin: 0;
}

main{
    position: relative;
    overflow: hidden;
    padding-bottom: 10%;
    min-height: 60vh;
}

/*Header*/
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    background-color: greenyellow;
    display: flex;
    border-bottom: 10px solid black;
}

header img {
    width: 120px;
}

header a {
    padding: 1%;
}

header h1 {
    align-self: center;
    float: right;
}

#logged-in {
    font-size: 1.6rem;
    padding-top: 1%;
    padding-right: 1%;
}

#logout-form button {
    display: block;
    background-color: #FF69B4;
    font-size: 1.6rem;
    padding: 2%;
    border-radius: 5px;
    border: 2px solid black;
    margin-left: auto;
    margin-top: 5%;
}

#logout-form button:hover {
    cursor: pointer;
}

#logout-form button:active {
    background-color: #cc5490;
}

#top-pic {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: 1%;
    align-self: center;
    border: 5px solid black;
    border-radius: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: #33383B;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf9a;
}

/* Footer */

footer {
    background-color: greenyellow;
    color: black;
    padding-block: 1%;
    padding-right: 1%;
    text-align: right;
    border-top: 3px solid black;
}