#reg-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

#reg-outline {
    margin-inline: auto;
    width: 50%;
    background-color: greenyellow;
    border-radius: 5px;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#reg-form {
    display: flex;
    flex-direction: column;
}

#reg-form label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

#reg-form input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 1%;
    margin-bottom: 2%;
    font-size: 1.2rem;
}

#reg-form > * {
    width: 50%;
    margin-inline: auto;
}

#reg-form > textarea {
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid black;
    width: 75%;
    padding: 1%;
    resize: none;
    font-size: 1.2rem;
}

#about_me_label {
    padding-top: 1%;
    text-align: center;
}

#reg-form #image {
    border: 0;
}

#reg-button {
    margin-bottom: 5%;
    display: inline-block;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    padding-block: 1%;
    padding-inline: 3%;
    border-radius: 5px;
    text-decoration: none;
    width: 30%;
}

#reg-button:hover {
    cursor: pointer;
}

#reg-button:active {
    background-color: #c4c4c4;
}

.error-msg {
    color: red;
    padding-bottom: 1%;
}

@media screen and (max-width: 1000px) {
    #reg-outline {
        width: 75%;
    }

    #reg-button {
        width: 50%;
    }
}