main {
    background-image: url('../images/dark4.gif');
    height: 900px;
    width: 100%;
    background-position: center;
}

body, html {
    display: initial;
    height: initial;
}

/* Buttons */

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.button {
    display: inline-block;
    width: 100px;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding-block: 1%;
    padding-inline: 3%;
    border-radius: 10px;
    text-decoration: none;
}

.log-in {
    margin-right: 5%;
    background-color: greenyellow;
}

.button:hover {
    cursor: pointer;
}

.log-in:active {
    background-color: #8ccc26;
}

.register:active {
    background-color: #6bccc9;
}

.register {
    margin-left: 5%;
    background-color: lightskyblue;
}

#welcome-text {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vw;
    color: greenyellow;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 2px;
    padding-top: 5%;
}

@media screen and (max-width: 768px) {
    main {
        background-image: url('../images/dark5.gif');
        height: 600px;
        width: 100%;
        background-position: center;
    }

    #buttons {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .button {
        margin: 0;
        border: 3px solid black;
        border-radius: 10px;
    }
}


